<h1>{{ title }}</h1>
<p></p>
<h2>Geometry</h2>
<app-form [item]="geometry"></app-form>
<p></p>
<h2>Physics</h2>
<app-form [item]="physics"></app-form>
<p></p>
<h2>Digitizer</h2>
<app-form [item]="digitizer"></app-form>
<p></p>
<h2>Source</h2>
<app-form [item]="source"></app-form>
<p></p>
<h2>Data Output</h2>
<app-form [item]="data_output"></app-form>
<p></p>
<h2>Acquisition</h2>
<app-form [item]="acquisition"></app-form>
<p></p>
<h2>Material Database</h2>
<app-form [item]="material_database"></app-form>
<p></p>
<app-form [item]="a"></app-form>
<p></p>
<div>{{a | json}}</div>
